img,
.imagen {
  width: 200px;
  height: 200px;
  border-radius: 10%;
  cursor: pointer;
}

.imagen {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  /* font-size: 18px; */
  border: none;
  background: #f0f0f0;
  color: #000;
  margin-bottom: -100px;
}
